input{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

p{
  display: inline-block;
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 3px;
  background: green;
  color: white;
  cursor: pointer;
}
